body {
  margin-top: 60px;
  background-color: #F4F4F4;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

h3 {
 font-size: 18px;
 font-weight:bold;
 color:#000000;
 line-height: 32px;
 text-decoration:none; 
 margin-top:3px;
}

h1 {
 font-size: 36px;
 color:#000000;
 line-height: 32px;
 text-decoration:none; 
 margin-top:3px;
 margin-bottom: 30px;
}